<md-dialog class="dialog-box" flex="40">
  <form ng-cloak>

    <md-dialog-content>
      <div>
        <p class="dialog-date">{{item.date}}</p>
        <div class="item-title-box">{{item.title}}</div>

        <div class="item-description">
          <br><br>
          ▪ 제안이유
          <p>{{item.description| limitTo:200}}..</p>
        </div>

      </div>
      <div align="right" class="more-div">
        더보기 >
      </div>
      <div layout="row" layout-align="start center">
        <img class="thumb" src="static/images/like.png" ng-click="clickVote('좋아요')">
        <img class="thumb" src="static/images/unlike.png" ng-click="clickVote('싫어요')">
        <div>
          {{vote}}
        </div>

      </div>
      <hr>
      <div class="md-dialog-content" ng-repeat="article in newsData">
          <div class="article-name">{{article.name}}</div>
          <div ng-repeat="news in article.news">
            <a style="font-size: 10pt;" href="{{news.link}}" target="_blank">{{news.title}}</a>
          </div>
      </div>
      <hr class="hr-gray">
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button class="md-raised" ng-click="answer('')">
        CLOSE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>