<md-dialog class="dialog-box" flex="40">
  <form ng-cloak>
    <!--<md-toolbar>-->
      <!--<div class="md-toolbar-tools">-->
        <!--<h2>ddddddd</h2>-->
        <!--<span flex></span>-->
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
        <!--</md-button>-->
      <!--</div>-->
    <!--</md-toolbar>-->

    <md-dialog-content>
      <div>
        <p class="dialog-date">{{item.date}}</p>
        <div class="item-title-box">{{item.title}}</div>

        <div class="item-description">
          <br><br>
          ▪ 제안이유
          <p>{{item.description| limitTo:200}}..</p>
        </div>

      </div>
      <div align="right" class="more-div">
        더보기 >
      </div>
      <hr>
      <div class="md-dialog-content" ng-repeat="article in newsData">
          <div class="article-name">{{article.name}}</div>
          <div ng-repeat="news in article.news">
            <a style="font-size: 10pt;" href="{{news.link}}" target="_blank">{{news.title}}</a>
          </div>
      </div>
      <hr class="hr-gray">
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button ng-click="answer('')">
        CLOSE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>