<div>
     <img width="100%" src="static/images/description.jpg">
</div>
<div class="padding-5 bg-color" layout="row" layout-align="center center">
     <md-button class="{{currentPage=='국회의원'? 'selected': ''}}" ng-click="changePage('국회의원')">국회의원</md-button>
     <md-button class="{{currentPage=='국회의원'? '': 'selected'}}" ng-click="changePage('행정가')">행정가</md-button>
</div>
<div layout-padding class="bg-color" ng-show="currentPage=='국회의원'">
     <div layout="column" layout-align="center center">
          <div align="center">
               <img layout-padding src="static/images/all.png"  width="80px" ng-click="filters.category = ''">
               <img layout-padding ng-src="static/images/{{categoryInfo.img}}" ng-click="filters.category = categoryName"  width="80px" layout-align="center center" ng-repeat="(categoryName, categoryInfo) in categories">{{categoryName}}</img>
          </div>

     </div>

         <div layout="row" layout-align="center start">
          <div show-gt-sm flex>&nbsp;</div>
          <div layout="column" layout-align="start center" class="assembly-box" flex ng-repeat="assembly in assemblyList">
               <div>
                    <img ng-src="static/images/{{assembly.photo}}" width="100%">
               </div>
               <div layout-padding></div>
               <!--<div>{{assembly.name}}</div>-->
               <div class="md-raised" ng-mouseover="myStyle={'border': '1px solid black'}" ng-mouseleave="myStyle={'background-color':categories[item.category].color}"
                    ng-style="myStyle" style="background-color:{{categories[item.category].color}} !important;width: 100%;height: 5px;"
                    ng-click="openDialog($event, assembly.name, item)" ng-repeat="item in assembly.data | filter:filters">&nbsp;</div>
          </div>
          <div show-gt-sm flex>&nbsp;</div>
          </div>




</div>

<div layout-padding class="bg-color" ng-show="currentPage=='행정가'">

     <!--<div layout="column" layout-align="center center">-->
          <!--<div align="center">-->
               <!--<img layout-padding src="static/images/all.png"  width="80px" ng-click="filters.category = ''">-->
               <!--<img layout-padding ng-src="static/images/{{categoryInfo.img}}" ng-click="filters.category = categoryName"  width="80px" layout-align="center center" ng-repeat="(categoryName, categoryInfo) in categories">{{categoryName}}</img>-->
          <!--</div>-->

     <!--</div>-->
     <div layout="row" layout-align="center start">
          <div layout="column"  layout-align="start center" class="assembly-box"  ng-repeat="admin in administrators">
               <img ng-src="static/images/{{admin.photo}}" width="150px">
               <div layout-padding></div>
               <div>{{admin.name}}</div>
               <!--<div class="md-raised" ng-mouseover="myStyle={'border': '1px solid black'}" ng-mouseleave="myStyle={'background-color':categories[item.category].color}"-->
                    <!--ng-style="myStyle" style="background-color:{{categories[item.category].color}} !important;width: 150px;height: 5px;"-->
                    <!--ng-click="openDialog($event, admin.name, item)" ng-repeat="item in admin.data | filter:filters">&nbsp;</div>-->
          </div>
     </div>

     <div layout="column" layout-align="start center"><h2>준비중입니다.</h2></div>
</div>

